# Listas

Uma lista é uma estrutura de dados que armazena uma coleção ordenada de itens. Por exemplo, para criar uma lista com nome dos alunos de uma turma, podemos usar o seguinte comando:

In [ ]:
lista_alunos = ["Rui", "Heloisa", "Augusto", "Letícia"]
print(lista_alunos)

Como resultado, teremos:

<img  src="./imgs/lista01.png" width="400" />

De forma similar, podemos criar uma lista de frutas:

In [ ]:
lista_frutas = ["Limão", "Maçã","Uva","Acerola","Abacaxi"]
print(lista_frutas)

Resultando em:

<img  src="./imgs/lista02.png" width="400" />

### Tamanho da lista -  comando `len(nome_lista)`

O comando `len` é muito útil. Ele serve para calcular o tamanho de uma determinada lista.

In [ ]:
print(f"A turma possui {len(lista_alunos)} alunos, cujos nomes são {lista_alunos}")

Agora, usando o comando `for` para percorrer a lista.

In [ ]:
print(f"A turma possui {len(lista_alunos)} alunos, cujos nomes são:")
for nome in lista_alunos:
    print(nome)

### Lista é uma estrutura Mutável

Permite inserir e remover elementos, que altera a dimensão da lista.

#### Comando `append`

O comando `append` acrescenta um elemento no FINAL da lista.

**Obs:** veremos adiante como inserir um elemento em qualquer lugar da lista.

Por exemplo, assumindo a lista

<img  src="./imgs/lista01.png" width="350" />

Para inserir o aluno *Guilherme* no final da lista e obter o seguinte resultado

<img  src="./imgs/lista03.png" width="400" />

Podemos usar o comando `append`, como segue:

In [ ]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Letícia"]
print(lista_alunos)
lista_alunos.append("Guilherme")
print(lista_alunos)

### Índice de Listas

Para acessar elementos específicos da lista, deve-se utilizar a posição (índice) do elemento, que inicia em **0, não em 1**.

<img  src="./imgs/lista04.png" width="400" />

In [ ]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Letícia"]
print(lista_alunos[1])

Para acessar os últimos elementos, utiliza-se o índice -1, -2, ...


<img  src="./imgs/lista05.png" width="400" />

In [1]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Letícia"]
print(lista_alunos[-1])
print(lista_alunos[-2])

Letícia
Augusto

### Slicing

É possível acessar um intervalo do conteúdo da lista.

In [2]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Letícia"]
print(lista_alunos[0:2])

['Rui', 'Heloísa']

In [3]:
print(lista_alunos[:2])

['Rui', 'Heloísa']

In [4]:
print(lista_alunos[2:])

['Augusto', 'Letícia']

### Operações sobre listas numéricas

Vamos assumir a seguinte lista:


<img  src="./imgs/lista06.png" width="400" />

Algumas funções úteis para operar sobre listas numéricas:
- `len(lista)`: retorna o tamanho de `lista`
- `sum(lista)`: retorna a soma elementos armazenados em `lista`
- `min(lista)`: retorna o menor valor armazenado em `lista`
- `max(lista)`: retorna o maior valor armazenado em `lista`
- `lista.count(valor)`: retorna o número de ocorrências de `valor` em `lista`

In [5]:
lista_numerica = [1, 3, 5, 1, 4, 3]
print(f"lista_numerica: {lista_numerica}")
print(f"len: {len(lista_numerica)}")
print(f"sum: {sum(lista_numerica)}")
print(f"min: {min(lista_numerica)}")
print(f"max: {max(lista_numerica)}")
print(f"count(3): {lista_numerica.count(3)}")

lista_numerica: [1, 3, 5, 1, 4, 3]
len: 6
sum: 17
min: 1
max: 5
count(3): 2

### Operações sobre listas não numéricas

Vamos assumir a seguinte lista:

<img  src="./imgs/lista07.png" width="400" />

Algumas funções úteis para operar sobre listas numéricas:
- len(lista): retorna o tamanho de `lista`
- min(lista): retorna o menor valor armazenado em `lista`
- max(lista): retorna o maior valor armazenado em `lista`
- lista.count(valor): retorna o número de ocorrências de `valor` em `lista`

In [6]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa", "Letícia"]
print(f"lista_alunos: {lista_alunos}")
print(f"len: {len(lista_alunos)}")
print(f"min: {min(lista_alunos)}")
print(f"max: {max(lista_alunos)}")
print(f"count(Heloísa): {lista_alunos.count('Heloísa')}")

lista_alunos: ['Rui', 'Heloísa', 'Augusto', 'Heloísa', 'Letícia']
len: 5
min: Augusto
max: Rui
count(Heloísa): 2

`lista.index(valor)`: retorna o índice da primeira ocorrência de `valor` em `lista`  
`lista.index(valor, idx_inicio)`: retorna o índice da primeira ocorrência de `valor` em `lista`, a partir da posição `idx_inicio`

In [7]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa","Letícia"]
print(f"index(Heloísa): {lista_alunos.index('Heloísa')}")
print(f"index(Heloísa, 1): {lista_alunos.index('Heloísa', 1)}")
print(f"index(Heloísa, 2): {lista_alunos.index('Heloísa', 2)}")

index(Heloísa): 1
index(Heloísa, 1): 1
index(Heloísa, 2): 3

`lista.sort()`: ordena a `lista` em ordem crescente  
`lista.sort(reverse = True)`: ordena a `lista` em ordem decrescente

In [8]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa","Letícia"]
lista_alunos.sort()
print(f"list.sort(): {lista_alunos}")
lista_alunos.sort(reverse = True)
print(f"list.sort(reverse = True): {lista_alunos}")

list.sort(): ['Augusto', 'Heloísa', 'Heloísa', 'Letícia', 'Rui']
list.sort(reverse = True): ['Rui', 'Letícia', 'Heloísa', 'Heloísa', 'Augusto']

`sorted(lista)` - ordena a `lista` em ordem crescente sem modificar `lista`

In [9]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa", "Letícia"]
lista_alunosAtoZ = sorted(lista_alunos)
print(f"sorted: {lista_alunosAtoZ}")
print(f"lista_alunos: {lista_alunos}")

sorted: ['Augusto', 'Heloísa', 'Heloísa', 'Letícia', 'Rui']
lista_alunos: ['Rui', 'Heloísa', 'Augusto', 'Heloísa', 'Letícia']

### Listas - Inserção/Remoção de elementos

`lista.append(valor)` adiciona `valor` no fim da lista.

In [10]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa","Letícia"]
print(lista_alunos)
lista_alunos.insert(2, "Guilherme")
print(lista_alunos)

['Rui', 'Heloísa', 'Augusto', 'Heloísa', 'Letícia']
['Rui', 'Heloísa', 'Guilherme', 'Augusto', 'Heloísa', 'Letícia']

`lista.insert(idx, valor)` adiciona `valor` na posição com índice `idx`

In [ ]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa","Letícia"]
print(lista_alunos)
lista_alunos.insert(2, "Guilherme")
print(lista_alunos)

`lista.remove(valor)` remove a primeira ocorrência `valor` em `lista`

In [ ]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa","Augusto"]
print(lista_alunos)
lista_alunos.remove("Augusto")
print(lista_alunos)

`lista.pop(idx)` remove elemento de `lista` com índice `idx` e retorna o elemento como resultado

In [11]:
lista_alunos = ["Rui", "Heloísa", "Augusto", "Heloísa","Augusto"]
print(f"lista_alunos: {lista_alunos}")
aluno = lista_alunos.pop(2)
print(f"lista_alunos: {lista_alunos}")
print(f"aluno: {aluno}")

lista_alunos: ['Rui', 'Heloísa', 'Augusto', 'Heloísa', 'Augusto']
lista_alunos: ['Rui', 'Heloísa', 'Heloísa', 'Augusto']
aluno: Augusto

Vamos ver agora como podemos acrescentar uma lista no final de outra por meio do comando `append`.  

Assuma as seguintes listas:

<img  src="./imgs/lista08.png" width="300" />

In [12]:
turma1 = ["Rui", "Augusto", "Letícia"]
turma2 = ["Heloísa", "Guilherme"]
turma1.append(turma2)
print(turma1)

['Rui', 'Augusto', 'Letícia', ['Heloísa', 'Guilherme']]

<img  src="./imgs/lista09.png" width="250" />

Em Python, um lista pode conter elementos de __diferentes tipos__

Isso ocorre porque uma lista é implementada como uma **lista de ponteiros**, que podem referenciar **elementos de qualquer tipo**. O efeito gerado pelo comando `turma1.append(turma2)` será a geração de uma lista com a seguinte estrutira:


<img  src="./imgs/lista10.png" width="400" />

Voltando ao nosso exemplo, para termos o efeito desejado de acrescentar `turma2` no final de `turma1` utilizaremos o operador de concatenação `+` entre listas.

In [13]:
turma1 = ["Rui", "Heloísa", "Letícia"]
turma2 = ["Heloísa", "Guilherme"]
turma1 = turma1 + turma2
print(turma1)

['Rui', 'Heloísa', 'Letícia', 'Heloísa', 'Guilherme']

## Aliasing

Em Python, é possível que uma mesma posição de memória possa ser acessada a partir de duas ou mais variáveis. Esse fenômeno é conhecido com **aliasing**. Uma consequência imediata e perigosa do *aliasing* é que modificações feitas através de uma das variáveis tem efeito em todas as outras variáveis que acessam a posição de memória modificada. Tal comportamento torna o programa difícil de entender, analisar e otimizar.  

O código a seguir apresenta um exemplo de *aliasing*. Sua execução tem o efeito observado no diagrama:
<img  src="./imgs/lista12.png" width="260" />
O código *"tenta"* armazenar uma **cópia** da lista `turma1` em uma nova lista `turma2`. Porém, ao invés de fazer uma cópia de `turma1`, o código faz com que `turma2` passe a referenciar a mesma lista (posição de memória) que está sendo referenciada por `turma1`. Na sequência, quando o valor `"Rui"` é removido da lista referenciada por `turma2`, ocorre também a remoção **indesejada** do valor `"Rui"`  da lista `turma1`.

In [ ]:
turma1 = ["Rui", "Augusto", "Letícia"]
turma2 = turma1
turma2.remove("Rui")
print(f"turma1: {turma1}")
print(f"turma2: {turma2}")

Para evitar o efeito **indesejado** do *aliasing* e obter o resultado do diagrama a seguir, podemos lançar mão da função `lista.copy()`, que cria uma cópia de `lista`. 

<img  src="./imgs/lista13.png" width="250" />

Note que, como `turma2` passa a referenciar uma cópia em uma nova posição de memória da lista referenciada por `turma1`, todas as operações feitas através de `turma2` não tem qualquer efeito em `turma1`. Vamos ver como fica no código.

In [14]:
turma1 = ["Rui", "Augusto", "Letícia"]
turma2 = turma1.copy()
turma2.remove("Rui")
print(f"turma1: {turma1}")
print(f"turma2: {turma2}")

turma1: ['Rui', 'Augusto', 'Letícia']
turma2: ['Augusto', 'Letícia']

### Iterando sobre listas

Toda lista é um objeto **iterável** (iterable). Consequentemente, pode ser usado em um loop `for`.

In [15]:
turma1 = ["Rui", "Augusto", "Heloísa"]
for aluno in turma1:
    print(aluno)

Rui
Augusto
Heloísa

Python também permite iterar sobre strings *(embora string não seja considerada iterable - veremos mais adiante)*

In [16]:
aluna = "Heloísa"
for letra in aluna:
    print(letra)

H
e
l
o
í
s
a

### Exercício: arquivo corrompido

Você abriu seu projeto e observou que o arquivo foi corrompido e todas vogais acentuadas com os acentos agudos foram trocados por caracteres especiais:
- á foi trocado por @
- é foi trocado por &
- í foi trocado por !
- ó foi trocado por *
- ú foi trocado por #

Sua tarefa é fazer um programa para corrigir o texto corrompido:  

<span style="color:purple"> O comando for & o t*pico de estudo deste projeto. Ele & #til para iterar sobre objetos iter@veis. Muitos problemas podem ser resolvidos com o aux!lio do comando for. </span>

<img  src="./imgs/lista14.png" width="500" />

#### Solução

In [17]:
projeto = 'O comando for & o t*pico de estudo deste projeto. Ele & #til para iterar sobre objetos iter@veis. Muitos problemas podem ser resolvidos com o aux!lio do comando for.'
projeto = projeto.replace('@', 'á')
projeto = projeto.replace('&', 'é')
projeto = projeto.replace('!', 'í')
projeto = projeto.replace('*', 'ó')
projeto = projeto.replace('#', 'ú')
print(projeto)

O comando for é o tópico de estudo deste projeto. Ele é útil para iterar sobre objetos iteráveis. Muitos problemas podem ser resolvidos com o auxílio do comando for.